/******************** HEADER ********************/
/************************************************/

@media screen and (min-width: 992px) {

    header li {
        display: inline-block;
    }

    header button {
        display: none;
    }

}

/******************** MAIN ********************/
/**********************************************/

/* MAIN - Services Section ********************/

@media screen and (min-width: 768px) {

    #services .box {
        width: calc((100% - (2 * var(--gap-p))) / 3);
    }
    
    #services .box:first-child {
        width: calc(100% - var(--gap-p) - ((100% - (2 * var(--gap-p))) / 3));
    }

}

@media screen and (min-width: 992px) {
 
    /* #services .box {
        width: calc((100% - (2 * var(--gap-p))) / 3);
    } */
    
    #services .box:first-child {
        /* width: calc(100% - var(--gap-p) - ((100% - (2 * var(--gap-p))) / 3)); */
        display: flex;
    }

    #services .box:first-child :nth-child(2) {
        display: flex;
        align-items: end;
    }

}

/* MAIN - Planning Section ********************/

@media screen and (min-width: 768px) {

    #planning .l-box {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 5vw;
    }

    #planning .box {
        width: 50%;
    }

}

/* MAIN - Testimonials Section ********************/

@media screen and (min-width: 768px) {

    #testimonials .box {
        flex-direction: row;
        align-items: center;
    }
}

/* MAIN - Benefits Section ********************/

@media screen and (min-width: 768px) {

    #benefits .box {
        width: calc((100% - var(--gap-p)) / 2);
    }

}

@media screen and (min-width: 992px) {

    #benefits .box {
        width: calc((100% - 2*var(--gap-p)) / 3);
    }

}

/* MAIN - AboutUS Section ********************/

@media screen and (min-width: 768px) {

    #about .box:last-child {
        width: 80vw;
    }

    #about .l-container {
        display: flex;
        gap: var(--gap-p);
        justify-content: space-between;
    }

}