/******************** HEADER ********************/
/************************************************/

@media screen and (min-width: 992px) {

    header li {
        display: inline-block;
    }

    header button {
        display: none;
    }

}

/******************** MAIN ********************/
/**********************************************/

/* MAIN - Services Section ********************/

@media screen and (min-width: 768px) {

    #services .box {
        width: calc((100% - (2 * var(--gap-p))) / 3);
    }
    
    #services .box:first-child {
        width: calc(100% - var(--gap-p) - ((100% - (2 * var(--gap-p))) / 3));
    }
    
}

@media screen and (min-width: 992px) {
 
    #services .box {
        width: calc((100% - (2 * var(--gap-p))) / 3);
    }
    
    #services .box:first-child {
        width: calc(100% - var(--gap-p) - ((100% - (2 * var(--gap-p))) / 3));
        display: flex;
    }

    #services .box:first-child :nth-child(2) {
        display: flex;
        align-items: end;
    }

}

/* MAIN - Hero Section ********************/

@media screen and (min-width: 768px) {

    .col-hero {
        display: flex;
        align-items: end;
        gap: 5vw;
    }

}

/* MAIN - Testimonials Section ********************/

@media screen and (min-width: 768px) {

    .col-testimonial {
        flex-direction: row;
        align-items: center;
    }

}

/* MAIN - Benefits Section ********************/

@media screen and (min-width: 768px) {

    .grid-benefits {
        display: flex;
        flex-wrap: wrap;
        gap: 3vw
    }

    .col-benefit {
        width: 25%;
    }

}