/******************** RESET ********************/
/***********************************************/

:root {
    --black-p: rgba(0, 0, 0, 1);
    --white-p: rgba(255, 255, 255, 1);

    --lightcyan-p: rgba(181, 221, 255, 1);
    --cyan-p: rgba(0, 132, 253, 1);
    --lightpurple-p: rgba(151, 146, 228, 1);
    --yellow-p: rgba(253, 193, 95, 1);
    --dark-p: rgba(253, 193, 95, 1);

    --height-h: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

menu {
    list-style-type: none;
}

a {
    display: inline-block;
    color:inherit;
    text-decoration: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/******************** COMMON ********************/
/************************************************/

/* Flex-container ********************/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-w {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: end;
}

.al-center {
    align-items: center;
}

/* Layout ********************/

.l-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    width: 60%;
    max-width: 1000px;
}

.s-container {
    width: 40%;
    max-width: 800px;
}

.col-30 {
    width: calc(100%/3);
}

@media screen and (min-width: 768px) {

    .l-container {
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .container {
        width: 60%;
        max-width: 1000px;
    }
    
    .s-container {
        width: 40%;
        max-width: 800px;
    }

}

@media screen and (min-width: 992px) {

    .l-container {
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .container {
        width: 60%;
        max-width: 1000px;
    }
    
    .s-container {
        width: 40%;
        max-width: 800px;
    }
    
}

/* Typography ********************/

body {
    font-family: 'PT Sans', sans-serif;
}

.txt-0 {
    font-size: 0.8rem;
}

.txt-1 {
    font-size: 1vw + .5rem;
    line-height: 1.3rem;
}

.txt-h3 {
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 600;
}

.txt-h2 {
    font-size: 2rem;
    line-height: 1.3rem;
}

.txt-h1 {
    font-size: 4rem;
    line-height: 1.3rem;
}

/*** Colors ********************/

.txt-w {
    color: var(--white-p);
}

.txt-c {
    color: var(--cyan-p);
}

.txt-lp {
    color: var(--lightpurple-p);
}

.txt-y {
    color: var(--yellow-p);
}

/*** Background Colors ********************/

.bg-w {
    background-color: var(--white-p);
}

.bg-lc {
    background-color: var(--lightcyan-p);
}

.bg-c {
    background-color: var(--cyan-p);
}

.bg-lp {
    background-color: var(--lightpurple-p);
}

.bg-d {
    background-color: var(--dark-p);
}

/*** Utilities ********************/

.btn {
    border: none;
    outline: none;
    border-radius: 2em;
    line-height: 2em;
    padding: 0 1em;
}

.btn.bg-w {
    color: var(--black-p);
}

.p-l-15 {
    padding-left: 1.5em;
}

.p-v-50 {
    padding: 5em 0em;
}

.m-l-15 {
    margin-left: 1.5em;
}

/******************** HEADER ********************/
/************************************************/

header {
    height: var(--height-h);
    color: var(--white-p);
    background-color: var(--cyan-p);
    display: flex;
    align-items: center;
}

header li {
    display: none;
}

@media screen and (min-width: 768px) {

    header li {
        display: inline-block;
    }

    header button {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    
}

/******************** MAIN ********************/
/**********************************************/

main {

}

/******************** FOOTER ********************/
/************************************************/

footer {

}

/******************** EFFECTS ********************/
/*******************************************************/



