/******************** RESET ********************/
/***********************************************/

:root {
    --black-p: rgba(0, 0, 0, 1);
    --white-p: rgba(255, 255, 255, 1);

    --lightcyan-p: rgba(181, 221, 255, 1);
    --cyan-p: rgba(0, 132, 253, 1);
    --lightpurple-p: rgba(151, 146, 228, 1);
    --yellow-p: rgba(253, 193, 95, 1);
    --dark-p: rgba(51, 51, 51, 1);

    --height-h: 4rem;

    --gap-p: calc(1vw + 10px);
    --border-p: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

menu {
    list-style-type: none;
}

a {
    display: inline-block;
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/******************** COMMON ********************/
/************************************************/

/* Position ********************/

.rel {
    position: relative;
}

/* Flex-container ********************/

.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-gap {
    gap: var(--gap-p);
}

.f-wrap {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: end;
}

.al-center {
    align-items: center;
}

/******************** LAYOUT ********************/
/************************************************/

.l-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

.s-container {
    width: 70%;
    margin: 0 auto;
    max-width: 500px;
}

.section-main {
    padding: 5em 0em 5em;
}

.smooth-corners {
    border-radius: 2rem;
}

/******************** UTILITIES ********************/
/***************************************************/

.btn {
    border: none;
    outline: none;
    border-radius: 2em;
    line-height: 2em;
    padding: .3em 1.3em;
}

.btn-l {
    border: none;
    outline: none;
    border-radius: 2em;
    line-height: 2em;
    padding: .2em 2em;
}

.p-g-15 {
    padding: 1.5rem;
}

.p-h-15 {
    padding: 0rem 1.5rem;
}

.p-l-15 {
    padding-left: 1.5rem;
}

.p-b-0 {
    padding-bottom: 1rem;
}

.p-b-1 {
    padding-bottom: 2rem;
}

.p-b-h4 {
    padding-bottom: 1.2rem;
}

.p-b-h3 {
    padding-bottom: 1.2rem;
}

.p-b-h2 {
    padding-bottom: 2rem;
}

.p-b-h1 {
    padding-bottom: 4rem;
}

.m-v-h {
    margin-top: calc(var(--height-h) - 2rem);
}

.m-l-15 {
    margin-left: 1.5rem;
}

.m-r-5 {
    margin-right: .5rem;
}

.m-b-15 {
    margin-bottom: 1.5rem;
}

/* Typography ********************/

body {
    font-family: 'PT Sans', sans-serif;
}

.txt-0 {
    font-size: calc(.5vw + .5rem);
    font-weight: 100;
}

.txt-1 {
    font-size: calc(.5vw + .6rem);
    line-height: calc(.5vw + 1.2rem);
}

.txt-h4 {
    font-size: calc(.4vw + .8rem);
    line-height: calc(.5vw + 1.3rem);
}

.txt-h3 {
    font-size: calc(.5vw + 1rem);
    line-height: calc(.5vw + 1.3rem);
    font-weight: 600;
}

.txt-h2 {
    font-size: calc(.5vw + 1.4rem);
    line-height: calc(.5vw + 1.8rem);
}

.txt-h1 {
    font-size: calc(1vw + 2.5rem);
    line-height: 3rem;
}

.txt-center {
    text-align: center;
}

/*** Colors ********************/

.txt-w {
    color: var(--white-p);
}

.txt-c {
    color: var(--cyan-p);
}

.txt-lp {
    color: var(--lightpurple-p);
}

.txt-y {
    color: var(--yellow-p);
}

/*** Background Colors ********************/

.bg-w {
    background-color: var(--white-p);
    border: var(--border-p) solid var(--white-p);
}

.bg-lc {
    background-color: var(--lightcyan-p);
    border: var(--border-p) solid var(--lightcyan-p);
}

.bg-c {
    background-color: var(--cyan-p);
    border: var(--border-p) solid var(--cyan-p);
}

.bg-lp {
    background-color: var(--lightpurple-p);
    border: var(--border-p) solid var(--lightpurple-p);
}

.bg-d {
    background-color: var(--dark-p);
    border: var(--border-p) solid var(--dark-p);
}


/******************** HEADER ********************/
/************************************************/

header {
    width: 100%;
    height: var(--height-h);
    color: var(--white-p);
    background-color: var(--cyan-p);
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header li {
    display: none;
}

/******************** MAIN ********************/
/**********************************************/

/* MAIN - Services Section ********************/

#services .box {
    background-color: var(--lightcyan-p);
    width: 100%;
    padding: 40px;
}

#services .box:first-child {
    padding: 40px 40px 0px;
}

#services .box + .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .box:first-child div:nth-child(2){
    max-width: 50%;
}

#services img {
    display: block;
}

#services .icon {
    font-size: calc(1vw + 4rem);
    color: var(--cyan-p);
    margin-bottom: calc(1vw + 1rem);
}

/* MAIN - Planning Section ********************/

#planning .box:nth-child(2) {
    padding: 1.5em 3em;
    margin-top: 1.5rem;
}

#planning i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background-color: var(--lightpurple-p);
}

#planning .btn.bg-w {
    color: var(--black-p);
}

/* MAIN - Testimonials Section ********************/

#testimonials .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-p);
}

#testimonials img {
    width: calc(100px + 10vw);
    aspect-ratio: 1;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

/* MAIN - Benefits Section ********************/

#benefits .box {
    background-color: var(--white-p);
    color: var(--lightpurple-p);
    padding: 1.5em;
    width: 100%;
}

/* MAIN - About Us Section ********************/


#about img {
    width: calc(100px + 10vw);
    aspect-ratio: 1;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

#about div.rel {
    width: calc(150px);
}

#about img + i {
    position: absolute;
    top: -10px;
    right: -5px;
}

/* MAIN - CTA Section ********************/


#cta a:last-child {
    text-decoration-line: underline;
    display: inline;
}

/******************** FOOTER ********************/
/************************************************/

footer {
    background-color: var(--dark-p);

}

footer a {
    color: var(--lightpurple-p);
    text-decoration-line: underline;
}

/******************** EFFECTS ********************/
/*************************************************/

/******************** COMMON ********************/

.btn.bg-lp:hover, .btn-l.bg-lp:hover {
    background-color: var(--white-p);
    border: var(--border-p) solid var(--lightpurple-p);
    color: var(--lightpurple-p);
}

.btn.bg-c:hover, .btn-l.bg-c:hover {
    background-color: var(--lightcyan-p);
    border: var(--border-p) solid var(--cyan-p);
    color: var(--cyan-p);
}

/******************** HEADER ********************/

header .btn:hover {
    background-color: var(--cyan-p);
    border: var(--border-p) solid var(--white-p);
    color: var(--white-p);
}

header .menu-btn:hover {
    background-color: var(--white-p);
    color: var(--dark-p);
    opacity: 60%;
    border-radius: calc(var(--height-h) / 2);
    line-height: calc(var(--height-h) / 2);
}

/******************** MAIN ********************/

/* Planning Arrow */

#planning .fa-arrow-down-long {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
}

#planning .box:hover .fa-arrow-down-long {
    animation-name: up-down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes up-down {

    0% {
        bottom: 20px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 20px;
    }
}

/* Planning Arrow */

#cta .btn-l:hover {
    background-color: var(--lightpurple-p);
    border: var(--border-p) solid var(--white-p);
    color: var(--white-p);
}